# Server
PORT=3000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/right-delivery

# Auth
JWT_SECRET=your_jwt_secret_here

# External APIs
PARTNER_API_KEY=your_partner_api_key_here
